body {
    background-color: rgb(212, 172, 172);
  }
  
  h1 {
    color: rgb(53, 51, 167);
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }


  .container a {
    padding: .2em;
  }
  @media (pointer: coarse) {
    .container a {
      padding: .8em;
    }
  }


