 /*Especificidad=1*/
body {
  width: 650px;
  margin: 0 auto;
}

 /*Especificidad=1*/
p {
  color: #3a002c;
  background: rgba(255,84,104,0.3);
  border: 2px solid rgb(113, 11, 145);
  padding: 10px;
  margin: 10px;
}

 /*Especificidad=1*/
span {
  color: #3a002c; 
  background: white;
  border: 1px solid black;
}

 /*Especificidad=1*/
tr {
    
    border: 2px solid rgb(113, 11, 145);
    padding: 10px;
    margin: 10px;
}

 /*Especificidad=1*/
td {
    
    border: 2px solid rgb(113, 11, 145);
    padding: 10px;
    margin: 10px;
}