/*Especificidad=1*/
body {
     color: #721054;
     background-color: #721054;
  }
  
  /*Especificidad=1*/
  h1 {
  color: #EFE1A2;
  background-color : transparent;
  font-weight: normal;
  font-size: 35px;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
}
/*Especificidad=1*/
h2 {
  color: #EFE1E1;
  background-color : transparent;
  font-weight: normal;
  font-size: 30px;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
}
/*Especificidad=1*/
h3 {
  color: #EFE1E4;
  background-color : transparent;
  font-weight: normal;
  font-size: 25px;
  font-family: Verdana,  sans-serif;
  text-transform: uppercase;
}
  
/*Especificidad=1*/
  p {
    color: #3a002c;
    background-color: #EFE1E1;
    font-family: Verdana, sans-serif;
    font-size: 20px;
  }

/*Especificidad=11*/
  .container a {
    padding: .2em;
  }


  

  /*Especificidad=1*/
  table {
    width: 100%;
    border: 1px solid #000;
 }

 /*Especificidad=2*/
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }

 /*Especificidad=1*/
 caption {
    padding: 0.3em;
    color: #fff;
     background: rgb(0, 2, 0);
 }


  
  /*Especificidad=2*/
  li, p {
    line-height: 1.5;
  }
/*Especificidad=2*/
  ul li {
    list-style-type: square;
 }

 /*Especificidad=1*/
 a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

 /*Especificidad=11*/
a:link {
  background-color : transparent;
  color: #CEF1F8;
}

 /*Especificidad=11*/
a:visited {
  background-color : transparent;
  color: #E6E6E6
}

 /*Especificidad=11*/
a:focus {
  border-bottom: 1px solid;
  background-color : transparent;
  color: #E6E6E6;
}

 /*Especificidad=11*/
a:hover {
  border-bottom: 1px solid;
  color: #E6E6E6;
  background-color : transparent
}

 /*Especificidad=11*/
a:active {
  background-color : transparent;
  color: #E6E6E6;
}

 /*Especificidad=1*/
div {
  width: 300px;
  padding-left:  50px;
  padding-right: 50px;
  margin-left:   30px;
  margin-right:  30px;
  border: 10px solid black;
}



